<!DOCTYPE html>
<html lang="en">

<script src="/js/bootstrap.min.js"></script>
<link href="/css/bootstrap.min.css" rel="stylesheet">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>partijpunt.be</title>
</head>
<body style="background-color: #d1e1ed;"></body>

<div class="container text-center d-flex align-items-center">
  <div class="container" style="text-align: left;">
        <a href="/">
          <img src="/assets/partijpunt-small.svg" alt="partijpunt logo"/>
        </a>
  </div>
  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/about">Over</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
{% block content %} {% endblock %}
</html>